body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(27, 27, 27);
}

.forecast-box {
    display: flex;
    gap: 15px;
    margin-top: 20px;
}

.forecast-card {
    background: #ffffff20;
    padding: 10px;
    width: 80px;
    text-align: center;
    border-radius: 8px;
}
.forecast-card img {
    width: 45px;
}


.img-prin {
    width: 40%;

}

.names h4 {
    color: white;
}


.hide {
    display: none;
}
.card {
    width: 28rem;
    background: linear-gradient(135deg, #00feba, #5b548a);
    border-radius: 30px;
    
}

.card .card-body .search button {
    border-radius: 70px;
    background: white;
    border: none;
    height: 55px;

}

.card .card-body .search input {
    border-radius: 50px;
    width: 20rem;
}

.card .card-body .search button img {
    width: 50%;
   
}

.main-content img {
    display: block;
    margin-right: auto;
    margin-left: auto;
}

.main-content h1, h2 {
    text-align: center;
    color: white;
}

.cor {
    color: white;
}